@use "./components/header";
@use "./components/hero";
@use "./components/features";
@use "./components/work";
@use "./components/footer";
@use "./abstracts/breakpoints" as *;

:root {
  --color-dark-violet: hsl(256, 26%, 20%);
  --color-dark-violet-2: hsl(270, 9%, 17%);
  --color-gray-blue: hsl(216, 30%, 68%);
  --color-gray-violet: hsl(273, 4%, 51%);
  --color-light-gray: hsl(0, 0%, 98%);

  --ff-heading: "DM Serif Display", serif;
  --ff-body: "Karla", sans-serif;

  --fw-1: 400;
  --fw-2: 700;

  --fs-1: 0.8125rem;
  --fs-2: 1rem;
  --fs-3: 1.75rem;
  --fs-4: 3.5rem;
  --fs-5: 4.5rem;

  --ls-links: 1.5px;

  --layout-max-width: 69rem;
  --layout-width: 90%;

  --line-height-p: 1.5rem;

  @media (max-width: $bp-2) {
    --fs-5: 4rem;
    --fs-4: 3rem;
  }

  @media (max-width: $bp-5) {
    --fs-5: 3rem;
    --fs-4: 2.25rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ff-body);
  font-weight: var(--fw-1);
  color: var(--color-dark-violet);
}

html,
body {
  overflow-x: hidden;
}
