@use "../mixins/constrain" as *;
@use "../abstracts/breakpoints" as *;

.work {
  @include constrain;
  background-color: var(--color-dark-violet);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.75rem;
  margin-bottom: 9.5rem;
  background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: right 0;

  @media (max-width: $bp-2) {
    flex-direction: column;
    text-align: center;
    background-image: url("../images/bg-pattern-how-we-work-mobile.svg");
  }

  @media (max-width: $bp-5) {
    padding-inline: 2rem;
  }

  &__heading {
    color: var(--color-light-gray);
    font-size: var(--fs-4);
    font-family: var(--ff-heading);
    font-weight: var(--fw-1);
    max-width: 31rem;
    line-height: 3rem;

    @media (max-width: $bp-2) {
      margin-bottom: 2rem;
    }
  }

  &__cta {
    color: var(--color-light-gray);
    text-decoration: none;
    font-weight: var(--fw-2);
    text-transform: uppercase;
    letter-spacing: var(--ls-links);
    font-size: var(--fs-1);
    border: 1px solid var(--color-light-gray);
    padding: 0.75rem 1.5rem;
    transition: all 0.2s;

    &:hover {
      color: var(--color-dark-violet);
      background-color: var(--color-light-gray);
    }
  }
}
